* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 50px;
  height: 50px;
  position: relative;
}

.black {
  background-color: #e0b678;
}

.white {
  background-color: #72502b;
}

.selected {
  background: rgb(38,112,255);
  background: radial-gradient(circle, rgba(38,112,255,1) 65%, rgba(55,226,255,1) 80%, rgba(21,0,255,1) 100%);
}
.available {
  background: rgb(107,222,0);
  background: radial-gradient(circle, rgba(107,222,0,1) 65%, rgba(126,251,30,1) 80%, rgba(0,175,32,1) 100%);
}

.under-attack {
  background: rgb(255,72,47);
  background: radial-gradient(circle, rgba(255,72,47,1) 65%, rgba(247,137,0,1) 80%, rgba(173,0,0,1) 100%);
}